/**
 * Custom Happy Pay SCSS
 * @author Archie M
 *
 */

//
@media (min-width: 1400px) {

  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl, 
  .container-xxl {
    //border: 1px solid red;
    max-width: 1280px;
  }
}

.wp-block-columns {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}


// Html 
html {
  overflow-x: hidden;
}


// Body
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: $black;
}

main {
  flex: 1 0 auto;
  //padding-bottom: 115px;
  //padding-bottom: 240px; 

  // main margin based on header size
  &.notification_spacing {
    //margin-top: 115px;
  }
  &.no_notification_spacing {
    //margin-top: 92px;
  }
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  //font-family: 'Avenir LT Bold';
  font-family: $poppins;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 { }

h1, 
.h1 {
  font-size: 3.2rem;
  font-weight: 600;

  @media screen and (max-width:575px) {
    font-size: 2.9rem;
  }
} 

h2, 
.h2 {
  font-size: 3rem;
  font-weight: 600;

  @media screen and (max-width:575px) {
    font-size: 2.6rem;
  }
} 

h3, 
.h3 {
  font-size: 1.5rem;
  font-weight: 500;

  @media screen and (max-width:575px) {
    font-size: 1.4rem;
  }
} 

h4, 
.h4 {
  font-size: 1.2rem;
  font-weight: 400;

  @media screen and (max-width:575px) {
    font-size: 1.1rem;
  }
} 

h5, 
.h5 {
  font-size: 1rem;
  font-weight: 400;
} 

h6, 
.h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

p { 
  margin-top: 0;
  margin-bottom: 1rem;
}

a { }

ol, 
ul {
  padding-left: 0;
}


.entry-content {

  a {
    color: $black;
  
    &:hover, 
    &:focus {
      color: $yellow;
      
    }
  }

  ul, 
  ol {

    li {
      margin-left: 1em;
    }
  }

  ol {

    li {

      ol {
        margin: 0 0 1rem 1rem;

        li {

          ol {
            margin: 0 0 1rem 1rem;

            li {

            }
          }
        }
      }
    }
  }

  ol,
  ul:not(.blocks-gallery-grid) {
    //margin: 0 auto 1.5em auto;
    margin: 0 0 1rem 0;
  }

  .three_hundred_px {

    img {
      max-width: 300px;
    }
  }
}


// Text colours
.black-text {
  color: $black;
}

.yellow-text {
  color: $yellow;
}

.peach-text {
  color: $peach;
}

.pink-text {
  color: $pink;
}

.white-text {
  color: $white;
}


//
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}


// Text size
.small, 
.small p {
  font-size: 0.8em;
}


// Preloader 
/* ====  Preloader styles ==== */
#preloader-wrap {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: fixed;
  z-index: 999;
}

#preloader {
  position:relative;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  top: 40%;
  margin: 0 auto;

  .stage {
    width: 20px;
    display: block;
    margin: 20px auto 0;
    padding: 0;
  }

  span {
    position:absolute;
    border: 8px solid $yellow;
    border-top: 8px solid transparent;
    border-radius: 999px;

    &:nth-child(1){
      width:80px;
      height:80px;
      animation: spin-1 2s infinite linear;
    }

    &:nth-child(2){
      top: 20px;
      left: 20px;
      width:40px;
      height:40px;
      animation: spin-2 1s infinite linear;
    }
  }

  // Loading pulse
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: $yellow;
    color: $yellow;
    box-shadow: 9999px 0 0 -5px $yellow;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;

    &:before, 
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $yellow;
      color: $yellow;
    }

    &:before {
      box-shadow: 9984px 0 0 -5px $yellow;
      animation: dotPulseBefore 1.5s infinite linear;
      animation-delay: 0s;
    }

    &:after {
      box-shadow: 10014px 0 0 -5px $yellow;
      animation: dotPulseAfter 1.5s infinite linear;
      animation-delay: .5s;
    }
  }
}


// Banners 
.banner-wrap {
  /*
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: scale(2);
	opacity: 0.1;
  */
  padding: 0 !important;

  .banner,
  .hero-banner {
    background-size: cover;
    background-position: center center;
    max-height: auto;
    margin: 0 calc(50% - 50vw) 0;
    position: relative;
    //height: calc(100vh - 115px);
    //z-index: 0;
    //opacity: 1;
    //transform: scale(2);
    //height: 100vh;
    height: 800px;
    width: 100vw;

    @media screen and (max-width:575px) {
      height: 780px;
    }

    .row {
      /*
      height: auto;
      border: 1px solid red;
      position: absolute;
      top: 25%;
      */

      .col,
      .col-12,
      .col-lg-6 {
        /*
        margin: 0;
        position: absolute;
        top: 35%;
        */

        .banner-content {
          height: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          max-width: 767px;
          width: 100%;

          @media screen and (max-width: 991px) {
            max-width: 680px;
            width: 100%;
          }

          @media screen and (max-width: 767px) {
            max-width: 500px;
            width: 100%;
          }

          @media screen and (max-width: 576px) {
            //max-width: 500px;
            width: calc(100% - 40px);
          }

          p {
            font-family: 'Quicksand', sans-serif;
            font-size: 1.4em;
            font-weight: 400;
          }

          .btn-primary {

            &:hover, 
            &:focus {
              background-color: $peach !important;
            }
          }
        }
      }
    }
  }

  .home {

    &.hero-banner {

      h1, 
      h2 {
        //color: $peach;
      }
    }
  }
}

// Faq banner
.page-id-12 {

  .banner-wrap {

    .banner,
    .hero-banner {

      .col,
      .col-lg-6 {
        top: 45%;
      }
    }
  }
}

.banner-arrow {
  position: relative;
  top: -80px;

  .bounce { 
    bottom: 0;
    display: block;
    text-align: center;
    position: relative;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  
    .arrow {
      position: absolute;
      //margin-top: 60px;
      margin-top: 0;
    }
  }
}


.icons-columns {

  h4 {
    font-weight: 600;
  }
}


.section-row {
  margin: 0 calc(50% - 50vw) 0;
  //padding: 120px 0 130px;
  padding: 80px 0 90px;
  position: relative;
  width: 100vw;

  .banner-wrap {
    padding: 0;
  }

  h1 {
    margin-bottom: 35px;
  } 

  h2, 
  h3 {
    margin-bottom: 25px;
  }


  //
  &.white {
    background-color: $white;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.peach {
    background-color: $peach;
  }

  &.pink {
    background-color: $pink;
  }
      
  &.beige {
    background-color: $beige; 
  }

  // buttons
  &.peach, 
  &.white {
    
    .btn {
      color: $black;
      background-color: $yellow;
      border-color: $yellow;
  
      &:hover,
      &:focus {
        border-color: $black;
        background-color: $pink;
        color: $black;
      }
    }
  }   

  &.pink,
  &.peach,
  &.white,
  &.yellow {

    .btn {
      color: $white;
      background-color: $black;
      border-color: $black;
  
      &:hover,
      &:focus {
        background-color: $cream;
        border-color: $black;
        color: $black !important;
      }
    }
  }

  //
  &.faqs,
  &.team, 
  &.yellow-stats,
  &.our-merchant,
  &.icons-columns,
  &.heading-strip,
  &.footer-signup,
  &.two-columns-block,
  &.two-columns-form-text,
  &.sixty-fourty-block {
    // stuff here...  
  }

  // Faqs
  &.faqs {
    padding: 20px 0;
  }

  // Team Members 
  &.team {

    .team-members {
      text-align: center;

      .col-md-3 {
        margin-bottom: 20px;

        @media screen and (max-width:575px) {
          margin-bottom: 20px;
        }

        figure { 
          //border-radius: 50%;
          display: block;
          margin: 10px ​auto 20px !important;
          max-width: 260px;
          overflow: hidden;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width:575px) {
            margin: 0 auto; 
            max-width: 260px;
          }

          img {
            -webkit-transform: scale(1) rotate(0) translateY(0);
            -moz-transform: scale(1) rotate(0) translateY(0);
            -o-transform: scale(1) rotate(0) translateY(0);
            -ms-transform: scale(1) rotate(0) translateY(0);
            transform: scale(1) rotate(0) translateY(0);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }

          &:hover, 
          &:focus {
  
            img {
              -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
              -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
              -o-transform: scale(1.1) rotate(1deg) translateY(12px);
              -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
              transform: scale(1.1) rotate(1deg) translateY(12px);
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
          }
        }
  
        h5.team-member-name {
          font-weight: 600;
          font-size: 1.1rem;
          line-height: 1.6rem;
          margin: 0 auto;
          padding: 0;
          text-align: center;

          @media screen and (max-width:575px) {
            margin: 5px auto 0;
            max-width: 240px;
          }
        }
  
        p.team-member-position {
          line-height: 1em;
          margin: 0 auto 2rem;
          text-align: center;

          @media screen and (max-width:575px) {
            margin: 5px auto 0;
            max-width: 240px;
          }
        }
      }
    }
  }

  // Yellow stats block
  &.yellow-stats {
    //background: $yellow;
    padding: 80px 0;
    margin: 0 calc(50% - 50vw) 0;
    position: relative;
    text-align: center;
    width: 100vw;

    .container {

      .col-sm-6 {

        img {
          display: block;
          max-width: 80px;
          margin: 0 auto 20px;
          width: 100%;
        }

        h4 {
          font-weight: 600;
          margin: 0 auto;
          max-width: 320px;
          text-align: center;
        }

        p {
          font-size: 1rem;
          line-height: 1.2rem;
          margin: 0 auto;
          max-width: 320px;
          text-align: center;
        }

        .counter {
          animation-duration: 1s;
          animation-delay: 0s;
        }
      }
    }
  }
  
  // Two Blocks 
  &.two-columns-block {

    .col-md-6 {

      p.eyelid {
        color: $white;
        //font-family: 'Avenir LT Bold';
        font-family: 'Quicksand', sans-serif;
        font-family: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        line-height: 1.6rem;
        margin: 0 0 0.4rem 0;
        padding: 0;
      }

      img {
        //animation: up-and-down ease-in-out 3s infinite;
        display: block;
        margin: 0 auto;

        @media screen and (max-width:767px) {
          margin-bottom: 30px;
          max-width: 100%;
        }

        @media screen and (min-width:768px) {
          max-width: 85%;
        }          
      }
    }

    .col-md-7 {

      img {
        //animation: up-and-down ease-in-out 3s infinite;
      }
    }

    .col-md-6, 
    .col-md-7 {

      .two-inner-content {
        //max-width: 100%;

        @media screen and (min-width:768px) {
          //max-width: 360px;
        }
      }

      h4, 
      h5 {
        margin: 0;
      }
      
      &.order-lg-2 {

        @media screen and (min-width:768px) {

          img {
            float: right;
          }
        }
      }
    }
  }

  // Headings
  &.heading-strip,
  &.two-columns-form-text {

    .container {

      h1, 
      h2, 
      h3, 
      h5, 
      h6 {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  //
  .two-columns-form-text {

    .container {

      .wpcf7 form {
        width: 100%;

        @media screen and (min-width: 767px) {
          max-width: 100%;
        }
      }
    }
  }

  // Heading strip
  &.heading-strip {
    max-height: auto;
    margin: 0 calc(50% - 50vw) 0;
    padding: 5rem 0;
    position: relative;
    width: 100vw;

    &.yellow {
      color: $black !important;
    }

    &.black {
      color: $white !important;
    }

    &.white {
      color: $black !important;
    }
  }


  // 60/40 columns
  &.sixty-fourty-block {

    img {
      //animation: up-and-down ease-in-out 3s infinite;
    }
  }


  // Icons columns
  &.icons-columns {

    .icons-headings {
      //margin-bottom: 40px;
    }

    h4 {
      font-weight: 600;
      margin: 20px auto 10px;
      text-align: center;
    }
    
    .icons-content {

      .col-md-4 {

        @media screen and (max-width:767px) {
          margin-bottom: 30px;
        }

        &:last-of-type {
          
          @media screen and (max-width:767px) {
            margin-bottom: 30px;
          }
        }

        img {
          display: block;
          margin: 0 auto;
          max-width: 120px;
        }
  
        h4, 
        .icon-header {
          font-weight: 600;
          margin: 20px auto 10px;
          text-align: center;
        }
  
        p,
        .icon-text {
          font-family: 'Quicksand', sans-serif;
          font-size: 1rem;
          line-height: 1.6;
          margin: 0 auto;
          text-align: center;
        }
  
        h4, 
        p {
          max-width: 240px;
        }
      }
    }
  }


  // Accordion
  .accordion-flush {

    h2.accordion-header {
      margin-bottom: 5px;
    }

    .accordion-item {
      border: 2px solid $black !important;
      border-radius: 5px;
      margin: 15px 0;

      .accordion-button {
        background: transparent;
        box-shadow: none;
        color: $black;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 1rem .6rem .6rem;

        &:after {
          color: $black;
        }

        &:not(.collapsed):after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffe05d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
        }
      }
    }
  }
  
  .accordion-body {
    padding: 1rem .6rem;
  }

  // Merchants
  &.our-merchant {

    .slick-list {

      @media screen and (min-width:860px) {
        //width: 100vw;
      }
    }

    ul.merchants {
      margin: 0; 
      padding: 0;
      //max-width: 100%;
      //width: 100%; 

      .slick-list { 
        //overflow: visible; 
      }

      /*
      .carousel-container .slick-next {
        right: calc((100vw - 630px)/2)
      }
    
      .carousel-container .slick-prev {
        left: calc((100vw - 630px)/2)
      }
      */

      li {
        //max-width: 300px;
        //width: 100%;

        img {
          //max-width: 300px;

          @media screen and (max-width:467px) {
            margin: 0 auto;
            max-width: 200px;
          }
        }

        &:first-child {
          margin-left: 15px;
        }

        .merchant-name {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          margin-top: 10px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    #merchants-heading, 
    #merchants-slick-arrows {
      display: inline-block;
      width: auto;
    }

    #merchants-slick-arrows {
      margin: 10px 0 0;

      @media screen and (min-width:767px) {
        padding-left: 20px;
        margin: 10px 0 0;
      }

      @media screen and (max-width:500px) {
        margin: 10px 0 20px;
      }

      .arrow {

        img {
          cursor: pointer;
          height: 35px; 
          width: 35px;
        }
      }

      #merchants-slide-prev {
        margin-right: 10px;
      }

      #merchants-slide-next {
        margin-left: 10px;
      }
    }
  }

  // Footer signup 
  &.footer-signup {

    .wpcf7 form {
      max-width: 100%;
      width: 100%;
    }
  }
}


// General WordPress
// ??
// .author-bio,
// .comments-wrap {
//   margin: 48px auto;
//   max-width: 720px;
//   padding-left: 16px;
//   padding-right: 16px;
// }

.site-header-image {
  display: block;
  margin: auto;
}

// .wp-caption {}
// .wp-caption-text {}
// .sticky {}
// .screen-reader-text {}
// .gallery-caption {}

// .bypostauthor {}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
}

// Author bio

// .author-bio .avatar {
//   border: 2px solid #dee2e6;
//   border-radius: 50%;
// }

// Main content
// Can go here

// Sidebar
// Can go here


// Cover
.wp-block-cover-text p {
  padding: 1.5em 16px;
}

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}


// Latest Posts
ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 16px;
}


// Contact 
.contact-columns {

  .wp-block-column {

    @media screen and (max-width:767px) {
      flex-basis: 100%;
    }

    &:nth-child(2n) { 

      @media (min-width: 600px) and (max-width: 781px) {
          margin-left: 0;
      }
    }
  }

  .contact-form-wrap,
  .contact-details-wrap {


    @media screen and (max-width:781px) {
      flex-basis: 100% !important;
    }
  }

  .contact-form-wrap {

    @media screen and (max-width:781px) {
      margin-bottom: 40px;
    }
  }

  .contact-details-wrap {

    h3 {
      margin-top: 5px;
    }
  }

  ul.contact-details {
    font-size: 0.9em;
    margin: 0 !important;
    padding: 0; 
    max-width: 100%;
    width: 100% !important;

    li {
      display: inline-block;
      list-style-type: none;
      //margin: 0 0 45px;
      margin: 0 0 10px;
      width: 100%;

      .content-icon,
      .contact-content {
        display: block;
      }

      /*
      .content-icon {
        float: left;
        width: 80px; 

        img {
          max-width: 30px;
        }
      }
      */

      .contact-content {
        color: #171a1e;
        font-size: 0.9em;
        float: right;
        //width: calc(100% - 80px);
        width: 100%;

        p {
          margin: 0;
        }

        a {
          color: #171a1e;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $yellow;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .operating-hours {
    margin-top: 20px; 

    p {
      font-size: 0.9em;
      margin-bottom: 10px;
    }
  }
}


// Forms 
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}


.wpcf7 {

  form {
    width: 100%;

    @media screen and (min-width: 767px) {
      max-width: 90%;
    }

    .row {

      input, 
      optgroup, 
      select, 
      textarea {
        border: 2px solid $black;
        border-radius: 5px;
        padding: 0.6rem 1rem;
        margin-bottom: 25px;
        width: 100%;
      }

      textarea {
        height: 200px;
      }

      input.wpcf7-submit {

        @media screen and (max-width: 767px) {
          margin-bottom: 60px;
        }
      }
    }

    .wpcf7-response-output {
      margin: 2em 0;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: 0.8em;
  }
}


// Placeholder
:-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
input:placeholder-shown,
:-webkit-input-placeholder {
  font-style: italic;  
}



//GDPR Cookie Notice
.gdpr-cookie-notice {
  position: fixed;
  background: #333;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  @media (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.gdpr-cookie-notice-loaded .gdpr-cookie-notice {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.gdpr-cookie-notice-description {
  margin: 0;
  padding: 0 16px 0 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  @media (max-width: 768px) {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.gdpr-cookie-notice-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 auto;
  background: none;
  width: auto;
  height: auto;
  padding: 0;
}

.gdpr-cookie-notice-nav-item {
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  color: $yellow;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 600;
  opacity: 1;

  &:hover {
    color: $yellow;
    opacity: 0.8;
    text-decoration: none;
  }
}

.gdpr-cookie-notice-nav-item-btn {
  background: $yellow;
  border-radius: 3px;
  color: $black;
  opacity: 1;

  &:focus, 
  &:hover {
    background: $yellow;
    color: $black;
    opacity: 0.8;
  }
}

.gdpr-cookie-notice-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg height="12" viewBox="0 0 8 12" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m1.41 0-1.41 1.41 4.58 4.59-4.58 4.59 1.41 1.41 6-6z" fill="#1ad56c"/></svg>');
  z-index: 1001;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 10px;
  display: none;
}

.gdpr-cookie-notice-show-modal .gdpr-cookie-notice-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gdpr-cookie-notice-modal-content {
  width: 470px;
  border-radius: 6px;
  background: #fff;
  margin: auto;
}

.gdpr-cookie-notice-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f4f5f7;
}

.gdpr-cookie-notice-modal-title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.gdpr-cookie-notice-modal-close {
  width: 24px;
  height: 24px;
  margin: 0 0 0 auto;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gdpr-cookie-notice-modal-close:before,
.gdpr-cookie-notice-modal-close:after {
  width: 18px;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #bdbdbd;
}

.gdpr-cookie-notice-modal-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.gdpr-cookie-notice-modal-close:hover {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 1;
}

.gdpr-cookie-notice-modal-cookies {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gdpr-cookie-notice-modal-cookie {
  display: block;
  border-bottom: 1px solid #f4f5f7;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gdpr-cookie-notice-modal-cookie-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 16px;
}

.gdpr-cookie-notice-modal-cookie-title {
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;

  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #bdbdbd transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    right: -17px;
    top: 50%;
    margin-top: -2px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

.open .gdpr-cookie-notice-modal-cookie-title:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gdpr-cookie-notice-modal-cookie-state {
  color: $pink;
  margin-left: auto;
  font-size: 15px;
}

.gdpr-cookie-notice-modal-cookie-input {
  opacity: 0;
}

.gdpr-cookie-notice-modal-cookie-input:checked + .gdpr-cookie-notice-modal-cookie-input-switch {
  background: $pink;
  -webkit-box-shadow: inset 0px 0px 0px 1px $pink;
  box-shadow: inset 0px 0px 0px 1px $pink;
}

.gdpr-cookie-notice-modal-cookie-input-switch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 1px #bdbdbd;
  box-shadow: inset 0px 0px 0px 1px #bdbdbd;
  margin: 0 0 0 auto;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

.gdpr-cookie-notice-modal-cookie-input-switch:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('data:image/svg+xml;utf8,<svg height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m5 10.42-5-5 1.41-1.41 3.59 3.58 7.59-7.59 1.41 1.42z" fill="rgb(255,255,255)" fill-rule="evenodd"/></svg>')
      no-repeat center 7px;
  content: "";
  display: block;
}

.gdpr-cookie-notice-modal-cookie-info {
  margin: 0;
  padding: 0 16px 12px 16px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 16px;
  display: none;
}

.open .gdpr-cookie-notice-modal-cookie-info {
  display: block;
}

.gdpr-cookie-notice-modal-footer {
  background: #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 16px 16px 16px;
  border-radius: 0 0 6px 6px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gdpr-cookie-notice-modal-footer-item {
  color: $pink;
  opacity: 1;
  /*
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #1ad56c;
  position: relative;
  */

  &:hover, 
  &:focus {
    color: $pink;
    opacity: 0.8;
    text-decoration: none;
  }

  &:after {
    position: absolute;
    right: -16px;
    top: 50%;
    margin-top: -5px;
    background: url('data:image/svg+xml;utf8,<svg height="12" viewBox="0 0 8 12" width="8" xmlns="http://www.w3.org/2000/svg"><path d="m1.41 0-1.41 1.41 4.58 4.59-4.58 4.59 1.41 1.41 6-6z" fill="#1ad56c"/></svg>') no-repeat left center;
    height: 12px;
    width: 8px;
    content: "";
    display: block;
  }
}

.gdpr-cookie-notice-modal-footer-item-btn {
  color: $pink;
  /*
  padding: 0 16px;
  background: #1ad56c;
  border-radius: 3px;
  position: relative;
  */

  span {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    content: "";
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    display: block;
    background: url('data:image/svg+xml;utf8,<svg height="11" viewBox="0 0 14 11" width="14" xmlns="http://www.w3.org/2000/svg"><path d="m5 10.42-5-5 1.41-1.41 3.59 3.58 7.59-7.59 1.41 1.42z" fill="rgb(255,255,255)" fill-rule="evenodd"/></svg>')
        no-repeat center;
  }
}

.gdpr-cookie-notice-modal-footer-item-btn.saved span {
  opacity: 0;
}

.gdpr-cookie-notice-modal-footer-item-btn.saved:after {
  opacity: 1;
}
