/* ==========================================================================
  SASS Variables 
========================================================================== */

//  

// Colours
$black:              #171a1e;
$white:              #ffffff;
$yellow:             #f7da61;
$dark_yellow:        #f3c918; 

$border-color:       #cccccc;
$disabled-grey:      #cfcfcf;


// Sizes
